
.container {
  flex: 0 0 23%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-size: cover;
  color: #ffffffc3;
  height: 180px;

}

.container a {
  text-decoration: none;
  color: #ffffffc4;
}

.container a:hover {
  text-decoration: underline;
}

/* Style for the background image */
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background:url('../../assets/images/ForestBackground.jpg') center/cover fixed no-repeat;
  z-index: -1;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
}