<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


<nav class="fancy-navbar">
  <div class="logo">
    <span>GreenThumb.Org</span>
  </div>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/Volunteer Form">Volunteer Form</a></li>
    <li><a routerLink="/Volunteer List">Volunteer List</a></li>
    <li><a routerLink="/Project List">Project List</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>


