
<form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()">
    <label for="volunteerName">Volunteer Name:</label>
    <input type="text" id="volunteerName" formControlName="volunteerName" />
  
  <div formGroupName="volunteerInfo">
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" formControlName="phoneNumber" />

    <label for="volunteerEmail">Email:</label>
    <input type="text" id="volunteerEmail" formControlName="volunteerEmail" />
  </div>
    <button type="submit" [disabled]="volunteerForm.invalid">Submit</button>
  </form>