<h2 class="w3-center">Volunteer Registration</h2>

<form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()" class="w3-container w3-card-4 w3-light-grey w3-text-dark-grey w3-margin">
  <div class="w3-section">
    <label for="volunteerName">Volunteer Name:</label>
    <input class="w3-input w3-border" type="text" id="volunteerName" formControlName="volunteerName" />
    <div *ngIf="volunteerNameControl?.hasError('required') && volunteerNameControl?.touched" class="w3-text-red">
      Volunteer Name is required.
    </div>
    <div *ngIf="volunteerNameControl?.hasError('minlength') && volunteerNameControl?.touched" class="w3-text-red">
      Volunteer Name must be at least 3 characters.
    </div>
  </div>

  <fieldset formGroupName="volunteerInfo">
    <div class="w3-section">
      <label for="phoneNumber">Phone Number:</label>
      <input class="w3-input w3-border" type="text" id="phoneNumber" formControlName="phoneNumber" />
      <div *ngIf="phoneNumberControl?.hasError('required') && phoneNumberControl?.touched" class="w3-text-red">
        Phone Number is required.
      </div>
      <div *ngIf="phoneNumberControl?.hasError('pattern') && phoneNumberControl?.touched" class="w3-text-red">
        Invalid Phone Number.
      </div>
    </div>

    <div class="w3-section">
      <label for="volunteerEmail">Email:</label>
      <input class="w3-input w3-border" type="text" id="volunteerEmail" formControlName="volunteerEmail" />
      <div *ngIf="volunteerEmailControl?.hasError('required') && volunteerEmailControl?.touched" class="w3-text-red">
        Email is required.
      </div>
      <div *ngIf="volunteerEmailControl?.hasError('email') && volunteerEmailControl?.touched" class="w3-text-red">
        Invalid email.
      </div>
    </div>
  </fieldset>

  <button type="submit" [disabled]="volunteerForm.invalid" class="w3-button w3-section">Submit</button>
</form>
