<p>volunteers works!</p>
<div>



<div>
  <label for="searchInput">Search by name: </label>
  <input type="text" id="searchInput" [(ngModel)]="searchString" (input)="onSearch()" placeholder="Search..."/>
</div>

<div *ngFor="let volunteer of volunteers" class="container">
  <h3>{{ volunteer.volunteerName }}</h3>
  <p>Phone Number: {{ volunteer.volunteerInfo?.phoneNumber }}</p>
  <p>Email: {{ volunteer.volunteerInfo?.volunteerEmail }}</p>
  <p>Project: {{ volunteer.project?.projectName }} ({{ volunteer.project?.projectType }})</p>
</div>
  <!-- Error message -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

</div>